body {
  background-color: #e3fdfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h1{
  color: #355c7d;
  padding: 4% 0;
}

p{
  color: #bbded6;
}

.btn{
  margin: 2% 0;
}
